html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* using rem unit */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1;
}

input,
button,
textarea,
select {
  outline: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

input {
  line-height: normal;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #10c9c3;
  border-radius: 8px;
  opacity: 0.6;
}

.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}

.section-block {
  max-width: 690px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}

.section-desc {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: #787878;
  line-height: 24px;
}

.paragraph {
  font-size: 24px;
  text-align: center;
  line-height: 36px;
  color: #ffffff;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mr-20 {
  margin-right: 20px;
}

.p-100 {
  padding: 100px;
}

.py-100 {
  padding: 100px 0;
}

.pl-100 {
  padding-left: 100px;
}

.btn {
  background-color: transparent;
  display: block;
  width: 180px;
  padding: 20px 0;
  border: 1px solid;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.2s ease;
}
.btn:focus {
  outline: 0;
}
.btn-primary, .btn-submit {
  border-color: #10c9c3;
  color: #ffffff;
  background-color: #10c9c3;
}
.btn-primary:hover, .btn-submit:hover {
  color: #10c9c3;
  background-color: transparent;
}
.btn-loadmore {
  width: 100%;
  height: 100px;
  border: 0;
  color: #8e8e8e;
  background-color: #f8f9f9;
}
.btn-loadmore:hover {
  background-color: #e9e9e9;
}
.btn-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border-radius: 100rem;
  border-color: #10c9c3;
  background-color: #10c9c3;
  color: #ffffff;
}
.btn-submit {
  margin: 0 auto;
}

.header {
  background: url(../images/bg-hero.jpg) center/100% no-repeat;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}

.navbar-item {
  display: inline-block;
  padding: 0 15px;
  color: #191919;
  transition: all 0.2s ease-in-out;
}
.navbar-item:first-child {
  padding-left: 0;
}
.navbar-item:last-child {
  padding-right: 0;
}
.navbar-link {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  color: inherit;
  position: relative;
}
.navbar-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  transform-origin: left;
  display: block;
  width: 0;
  height: 1px;
  background-color: #10c9c3;
  transition: width 0.2s ease-in-out;
}
.navbar-item.active {
  color: #10c9c3;
}
.navbar-item.active .navbar-link::after {
  width: 100%;
}
.navbar-item:hover {
  color: #10c9c3;
}
.navbar-item:hover .navbar-link::after {
  width: 100%;
}

.hero {
  min-height: calc(100vh - 95px);
}
.hero-box {
  position: absolute;
  top: 230px;
  left: 670px;
}
.hero-title {
  font-size: 38px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 48px;
}
.hero-desc {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  max-width: 480px;
  color: #787878;
}

.about-signature > img {
  margin: 0 auto;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.skills-content {
  background-color: #f8f9f9;
}
.skills-image {
  background: url(../images/about-bg.jpg) top left/cover no-repeat;
}
.skills-name, .skills-percent {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.skills-rectangle {
  background-color: #d8d8d8;
  width: 500px;
  height: 3px;
}
.skills-rectangle::before {
  content: "";
  display: block;
  width: var(--percent);
  height: 100%;
  background-color: #10c9c3;
}

.numbers {
  background-color: #10c9c3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  padding-left: 150px;
}
.numbers-item {
  display: flex;
  place-items: center;
  color: #ffffff;
}
.numbers-icon {
  margin-right: 27px;
}
.numbers-count, .numbers-title {
  display: block;
}
.numbers-count {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  letter-spacing: 2px;
}
.numbers-title {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.works-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
  grid-template-rows: repeat(2, 300px);
}
.works-item {
  position: relative;
}
.works-item > img {
  width: 100%;
  height: 100%;
  transition: all 0.05s linear;
}
.works-overlay {
  display: none;
  visibility: visible;
  transition: all 0.2s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(20, 20, 20, 0.7);
  text-align: center;
  line-height: 348px;
}
.works-item:hover .works-overlay {
  visibility: visible;
  display: block;
}

.video {
  position: relative;
}
.video > img {
  width: 100%;
  max-height: 570px;
}

.services {
  background-color: #f8f9f9;
}
.services > .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
}
.services-item {
  text-align: center;
}
.services-title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services-desc {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  max-width: 87%;
  margin: 15px auto 0;
}

.testimonials {
  background-color: #10c9c3;
  padding-bottom: 150px;
  position: relative;
}
.testimonials-block {
  max-width: 800px;
  margin: 0 auto;
}
.testimonials-author {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.testimonials-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 10;
}
.testimonials-dots-item {
  margin: 0 5px;
  width: 6px;
  height: 6px;
  border-radius: 100rem;
  background-color: #b9cccb;
  cursor: pointer;
  transition: background-color 0.25s linear;
}
.testimonials-dots-item.active {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
}

.clients {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.contact {
  background-color: #f8f9f9;
}

.form {
  max-width: 670px;
  margin: 0 auto;
}
.form [class^=form-row-]:not(:last-child) {
  margin-bottom: 30px;
}
.form-row-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;
}
.form-control {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  border: 0;
  font-size: 15px;
  color: #787878;
}
.form textarea {
  padding: 18px 20px;
  height: 170px;
  resize: none;
}

.footer {
  background-color: #141414;
  color: #ffffff;
}
.footer > .container {
  display: grid;
  grid-template-columns: 470px 300px 300px 100px;
}
.footer p, .footer a {
  display: block;
  color: inherit;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  text-transform: capitalize;
}
.footer a:not(:last-child) {
  margin-bottom: 10px;
}

.copyright h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
.copyright p {
  line-height: 24px;
  text-transform: unset;
}

.info a {
  text-transform: unset;
}

.bottom-links-left {
  float: left;
  width: 112px;
}
.bottom-links a {
  display: block;
}

/*# sourceMappingURL=main.css.map */
