.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mr-20 {
    margin-right: 20px;
}

.p-100 {
    padding: 100px;
}

.py-100 {
    padding: 100px 0;
}

.pl-100 {
    padding-left: 100px;
}